html, body {
    overflow-x: hidden; /* Prevents horizontal scrolling */
    width: 100%;
}
.nav-bar img {
    width: 30px;
    fill: none;
    background: transparent;
}

.header {
    text-align: center;
    padding: 46px;
}

.header h1 {
    font-size: 50px;
    letter-spacing: 0;
}

.search-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.search-bar {
    display: flex;
    padding: 5px;
    border: none;
    cursor: pointer;
    gap: 20px;
}

.search-bar input {
    padding: 20px;
    border-radius: 4px;
    border-style: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
}

.search-bar select {
    padding: 20px;
    border-style: none;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.search-container input:focus,
.search-container select:focus {
    outline: none;
    border: none;
}

.search-bar button {
    padding: 20px;
    border: none;
    border-radius: 4px;
    color: #000f3a;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.search-bar button:hover {
    opacity: 0.7;
}

.search-bar button:active {
    opacity: 0.7;
}

.career-spotlight {
    text-align: center;
    margin-top: 30px;
}

.career-spotlight h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.career-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.tag {
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px 15px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tag:hover {
    background-color: #f4f4f4;
    transform: translateY(-2px);
}


.footer {
    background-color: #6ea8fe;  
    color: white;
    text-align: center;
    margin-top: 150px;
    padding: 30px;
    font-family: Arial, sans-serif;
}   

.footer h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.6;
}