* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(
    130deg,
    #89acf7 4%,
    #DFE9FF 25%,
    #E7ECF5 44%,
    #82a8f6 94%
    );
    background-attachment: fixed;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}


.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 15px;
    width: 100vw;
    box-sizing: border-box; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 80px;
}

.nav-links {
    display: flex;
    margin-left: 200px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 0px;
    align-items: center;
    padding: 15px;
}

.nav-links a:hover {
    color:#140B5D
}

.user-icon img{
    width: 30px; /* Example width for user icon */
    height: 30px; /* Example height for user icon */
    align-items: center;
    margin-top: 0px;
    margin-right: 5px;
}


.admin-text{
    display: flex;
    align-items: center;
    cursor: pointer;
    vertical-align: middle; 
    color:#140B5D;
    font-weight: bold;
}

.dropdown-menu a{
    padding-left: 10px;
    background-color: #140B5D;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    color:#fff;
    border-radius: 2px;
}

.dropdown-menu:hover{
    background-color: #fff;
}


.nav-bar img{
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 25px;
}

.header{
     display: flex;
     text-align: left;
     padding-left: 25px;
}

.compose{
    border: none;
    background-color: #140B5D;
    padding: 10px 20px;
    color: #fff;
    border-radius: 7px;
    cursor:pointer;
    height: 30px;
    margin-left: 20px;
}

.inbox{
    border:none;
    background: none;
    cursor: pointer;
    margin-left: 45px;
}

.sent{
    border:none;
    background: none;
    cursor: pointer;
    margin-left: 45px;
}

.button-container{
  margin-bottom: 500px;
  margin-left: 200px;
  cursor: pointer;
}





